@import "./variables";
.about {
  border: 2px solid red;
  padding-bottom: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__bio-image {
    //border: 2px solid green;
    height: 40vh;
    width: 100vw;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url("../img/img8.jpeg") center top;
    background-size: contain;
    background-repeat: no-repeat;
    object-fit: cover;
    object-fit: cover;
    //overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    p {
      margin: 0 300px 0 300px;
      margin-bottom: 1rem;
    }
  }
  &__bio {
    width: 80%;
    text-align: center;
    .text-secondary {
      padding-bottom: 1rem;
    }
  }
  .jobs {
    // border: 2px solid red;
    height: 60vh;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    &-job {
      background-color: lighten($color: $primary-color, $amount: 10%);
      border-bottom: 5px solid $secondary-color;
      padding: 0.5rem;
    }
    h2,
    h3 {
      margin: 0.5rem 0;
    }
    h6 {
      margin: 0.3rem 0;
    }
  }
}
.social-icons {
  display: flex;
  flex-direction: column;
}
footer {
  font-size: 2rem;
  transform: rotate(90deg) translate(-5rem, -1rem);
}
