@import "variables";
.projects {
  // padding-bottom: 2rem;
  width: 100%;

  &-image {
    height: 50vh;
    width: 100vw;
    background: linear-gradient(
        to right,
        rgba($primary-color, 0.9),
        rgba($primary-color, 0.3)
      ),
      url("../img/img5.jpeg") center top;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    p {
      text-align: center;
      margin: 1rem 300px;
    }
  }

  &__technoligies_used {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0;

    p {
      width: 100%;
    }
  }

  .text-secondary {
    font-size: 2rem;
    text-align: center;
  }

  &-container {
    margin: 0;
    //border: red 3px solid;
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    margin: 2rem auto 0 auto;
  }

  &-project {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    // border: 1px solid blue;

    border-bottom: 5px solid $secondary-color;

    .project-item {
      // border: green solid 3px;
    }

    .projects-btns {
      visibility: hidden;
      opacity: 1;
    }

    img {
      // height: 100%;
      width: 100%;
      // border: green solid 3px;
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 100%;
      left: 0;
      opacity: 0;
      @include transition-ease;
      overflow: hidden;
    }
    &:hover {
      &::after {
        top: 0;
        opacity: 0.7;
        background-color: $secondary-color;
      }
      .projects-btns {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  a > img {
    display: block;
  }

  a .project-img {
    height: calc(100% - 2.5rem);
    width: 100%;
    // border: 3px solid red;
  }

  &-btns {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  &-btn {
    margin-left: 2rem;
    padding: 0;
    //color: red;
    color: set-text-color($secondary-color);
    // color: set-text-color(set-text-color($secondary-color));

    &:hover {
      visibility: visible;
      color: set-text-color(set-text-color($secondary-color));
    }
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  footer {
    transform: rotate(90deg) translate(-3rem, -1rem);
    margin-bottom: 1rem;
  }

  .see-all-projects {
    // background-color: $primary-color;
    // border: 3px solid $primary-color;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    cursor: pointer;
    //padding: 0.5rem;

    button {
      cursor: pointer;
      font-size: 1.2rem;
    }
    button:hover {
      background-color: $secondary-color;
      @include transition-ease;
      color: set-text-color($primary-color);
      border: 1px solid $secondary-color;
    }
  }
}
