@import "./variables";
@import "./config";
@import "./home";
@import "./menu";
@import "./about";
@import "./projects";
@import "./contacts";
@import "./responsiveness";

body {
  background-color: $primary-color;
  color: $secondary-color;
  height: 100vh;
  color: set-text-color($primary-color);
  line-height: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  // border: 1px solid red;
}

h1,
h2,
h3 {
  font-weight: 400;
}

main {
  height: 100%;
  width: 100%;

  .menu-nav {
    background-color: red;
  }

  .social-icons {
    //border: 1px solid red;
    position: fixed;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;

    a {
      // height: 100%;
      // width: 100%;
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include transition-ease;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  z-index: 2;
  color: set-text-color($primary-color);
}

.text-secondary {
  color: $secondary-color;
}
